<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gz::sim::systems::DiffDrive" filename="libgz-sim-diff-drive-system.so">
            <!-- Wheel Information -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>0.35</wheel_separation>
            <wheel_radius>0.05</wheel_radius>
            
            <!-- Topic -->
            <topic>cmd_vel</topic>
            
            <!-- Frame IDs -->
            <odom_frame>odom</odom_frame>
            <robot_base_frame>base_link</robot_base_frame>
            
            <!-- Publish options -->
            <odom_publish_frequency>50</odom_publish_frequency>
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>
        </plugin>   
    </gazebo>
    
</robot>